#4_convolutions.py#
2_fullyconnected.py~
4_convolutions.py~
5_word2vec_skip-gram.py
L1_Starter_Code.ipynb
MNIST_data/
daily_engagement.csv
digit recognition/
digit-classifier.py
digit-classifier.py~
enrollments.csv
ipython_notebook_tutorial.ipynb
multi-digit-recognition.py~
neural-networks-and-deep-learning/
project_submissions.csv
t10k-images-idx3-ubyte.gz
t10k-labels-idx1-ubyte.gz
train-images-idx3-ubyte.gz
train-labels-idx1-ubyte.gz
